# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,video
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,linux,video

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### Video ###
*.mp4
*.mjpg

### VisualStudioCode ###
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
venv

/visualstudiocode,linux,video,venv

# End of https://www.toptal.com/developers/gitignore/api
